
@{
    ViewBag.Title = "ErrorServidor";
}

<h2>Error del servidor.</h2>
<div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li>@Html.ActionLink("Volver al inicio", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
</div>

